/* Estilos generales */
body {
  font-family: "Playfair Display", serif;
  margin: 0;
  background-color: #fff; /* Cambia el color de fondo según tus preferencias */
}

.container {
  max-width: 100%;
}

/* Estilos del encabezado */
header {
  text-align: center;
  background-color: #f8f8f8; /* Cambia el color de fondo según tus preferencias */
  padding: 20px 0;
}

header img {
  height: 80px;
}

/* Estilos de la barra de navegación */
nav {
  background: #151515;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 1920px; /* Ocupar todo el ancho de la página */
  height: 55px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-top: 13px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
nav a:hover {
  color: #fcd333;
}
/* Estilos del primer slider */
.slider {
  width: 100%;
  height: 395px;
  /* Ajusta el resto de estilos según tus preferencias */
}

/* Estilos de la sección de presentación */
.presentation {
  max-width: 800px;
  padding: 2%;
  margin: 20px auto;
  text-align: justify;
}
/* Estilos del contenedor de imagen */
.image-container {
  width: 576px;
  height: 813px;
  margin-top: 20px; /* Ajusta el margen según tus preferencias */
  margin-left: auto; /* Centra horizontalmente en el lado izquierdo */
  margin-right: auto; /* Centra horizontalmente en el lado derecho */
  position: relative; /* Establece una posición relativa para que podamos posicionar el texto de manera absoluta */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

/* Estilos del texto superpuesto */
.overlay-text {
  position: absolute; /* Establece una posición absoluta con respecto al contenedor */
  text-align: left;
  color: #151515;
  padding: 10px;
  font-size: 64px;
  font-weight: 400;
  padding-bottom: 50%;
  padding-left: 72px;
}

.container-img {
  display: flex;
  justify-content: center; /* Centra horizontalmente las imágenes */
  align-items: center; /* Centra verticalmente las imágenes */
  margin-bottom: 10%;
}

.left {
  display: flex;
  width: 576px;
  height: 813px;
}

.right {
  display: flex;
  flex-direction: column; /* Coloca las imágenes una encima de la otra */
}

.right img {
  margin-left: 72px;
  padding: 5%;
}

/* Estilos del segundo slider */
.slider-2 {
  width: 100%;
  position: relative;
}

.slider-2-content {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}

.slider-2-content p {
  color: #151515;
  text-align: right;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.slider-2-content button {
  display: flex;
  border: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: normal;
  font-style: normal;
  background-color: #151515;
  color: #fff;
  margin-top: 7%;
  margin-left: 60%;
  padding-left: 6%;
  width: 200px;
  height: 50px;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 400;
}

/* Estilos del pie de página */
footer {
  background-color: #151515;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10% 2%;
}

footer p {
  margin: 5px 0;
  padding: 5%;
}

.contacto {
  font-size: larger;
}

/* Estilos de página PRODUCTOS */

/* Estilos de página PRODUCTOS */

.header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 1%;
  background-color: #005156;
  font-size: 22px;
  font-weight: 400;
}
.left-2 {
  margin-left: 5%;
}
.right-2{
  margin-right: 5%;
}
/* Estilos de la cuadrícula */
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columnas de tamaño igual (1fr) */
  grid-template-rows: repeat(3, 1fr); /* 3 filas de tamaño igual (1fr) */
  gap: 10px; /* Espacio entre los elementos */
  margin: 5% 10% 5% 10%;
  justify-content: center; /* Centra horizontalmente la cuadrícula */
}
.grid-item {
  position: relative;
}

.background {
  transition: filter 0.3s ease;
}

.background:hover {
  filter: blur(8px);
}

.icon {
  display: none;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 36%;
  transform: translate(-50%, -50%);
}

.grid-item:hover .icon {
  display: block;
}
/*Estilos de CARRITO*/
.detalle-libro {
  background-color: #151515;
  width: 25%;
  height: 400px;
  color: white;
  margin: 90px auto 100px auto;
  padding: 20px;
  text-align: center;
  position: relative; /* Agrega posición relativa al contenedor */
}

.detalle-libro p {
  font-size: 25px;
  margin: 10px 0;
}

.detalle-libro a img {
  width: 20px;
  margin: 5% auto 5% auto;
  cursor: pointer;
}

.btn-pagar {
  background-color: yellow;
  color: #000;
  padding: 20px;
  width: 50%;
  margin-top: 50%;
  border: none;
  cursor: pointer;
  font-family: Playfair Display;
  font-size: 19px;
  font-weight: 500;
}

.btn-atras {
  background-color: #999;
  color: white;
  padding: 20px;
  border: none;
  cursor: pointer;
  font-family: Playfair Display;
  font-size: 19px;
  font-weight: 500;
 
}


/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  /* Estilos de la barra de navegación para dispositivos móviles */
  nav {
    width: 100%; /* Ocupar todo el ancho de la pantalla en dispositivos móviles */
  }

  nav ul {
    flex-direction: column; /* Cambiar la dirección de la lista a columna */
    align-items: center; /* Centrar elementos en dispositivos móviles */
    padding-top: 0; /* Eliminar el espacio superior */
  }

  nav a {
    font-size: 18px; /* Ajustar el tamaño de fuente para dispositivos móviles */
  }

  /* Ajustar otros estilos para dispositivos móviles según sea necesario */

  /* Estilos para el primer slider en dispositivos móviles */
  .slider {
    height: auto; /* Altura automática para adaptarse al contenido */
  }

  /* Estilos para la sección de presentación en dispositivos móviles */
  .presentation {
    max-width: 100%; /* Ancho máximo en dispositivos móviles */
    margin: 20px; /* Ajustar el margen para dispositivos móviles */
  }

  /* Ajustar otros estilos para dispositivos móviles según sea necesario */

  /* Estilos para las imágenes en dispositivos móviles */
  .left,
  .right {
    width: 100%; /* Ancho completo en dispositivos móviles */
    margin: 0; /* Eliminar margen en dispositivos móviles */
  }

  .right img {
    margin-left: 0; /* Eliminar el margen izquierdo entre las imágenes */
    margin-top: 10px; /* Ajustar el espacio entre las imágenes */
  }

  /* Ajustar otros estilos para dispositivos móviles según sea necesario */

  /* Estilos para el segundo slider en dispositivos móviles */
  .slider-2-content {
    text-align: center; /* Centrar el contenido en dispositivos móviles */
  }

  /* Ajustar otros estilos para dispositivos móviles según sea necesario */

  /* Estilos para el pie de página en dispositivos móviles */
  footer {
    padding: 10px; /* Ajustar el relleno para dispositivos móviles */
  }

  /* Ajustar otros estilos para dispositivos móviles según sea necesario */
}
