body {
  font-family: "Playfair Display", serif;
  background-color: #fff;
  margin: 0;
}
.body-login {
  background: url(fondo-login.jpg) lightgray;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

/* Estilos del encabezado */
header {
  text-align: center;
  background-color: #f8f8f8;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
}

header img {
  height: 80px;
  width: auto;
}

/* Estilos de la barra de navegación */
nav {
  background: #151515;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: flex; /*Contenedor flexible para que tenga efecto el justify-content*/
  justify-content: space-evenly; /*Los pone en el centro y deja un espacio entre ellos*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #151515;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #005156;
}

.cerrar-sesion{
  background-color: rgb(122, 29, 29);
}
.cerrar-sesion:hover{
  background-color: rgb(255, 0, 0);
}
/* Estilos del primer slider */
.slider {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: auto;
}

/* Estilos de la sección de presentación */
.presentation {
  max-width: 900px;
  padding: 2%;
  margin: 20px auto;
  text-align: justify;
  font-size: 20px;
  font-weight: 500;
}

/* Estilos del contenedor de imagen */
.image-container {
  max-width: 576px;
  height: auto;
  margin: 20px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

/* Estilos del texto superpuesto */
.overlay-text {
  position: absolute;
  text-align: left;
  padding: 7% 1% 50% 10%;
}
.overlay-text a {
  text-decoration: none;
  color: #000;
  font-size: 64px;
  font-weight: 400;
}
.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% 0;
}

.left {
  max-width: 576px;
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
}

.right img {
  max-width: 100%;
  height: auto;
  margin-left: 0;
  padding: 5%;
}

/* Estilos del SEGUNDO SLIDER */
.slider-2 {
  position: relative;
}

.slider-2-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  padding: 20px;
}

.slider-2-content h1 {
  color: white;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 10px;
}

.slider-2-content button {
  background-color: #151515;
  color: white;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
.slider-2-content button:hover {
  background-color: #005156;
}

.contacto {
  font-size: larger;
}
.background {
  transition: filter 0.3s ease;
}

.background:hover {
  filter: blur(8px);
}

.icon {
  display: none;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 36%;
  transform: translate(-50%, -50%);
}

.grid-item:hover .icon {
  display: block;
}
/*Estilos de CARRITO*/
.detalle-libro {
  background-color: #151515;
  width: 25%;
  height: 400px;
  color: white;
  margin: 90px auto 100px auto;
  padding: 20px;
  text-align: center;
  position: relative; /* Agrega posición relativa al contenedor */
}

.detalle-libro p {
  font-size: 25px;
  margin: 0px 0;
}

.detalle-libro a img {
  margin: 5% auto 5% auto;
  cursor: pointer;
}

.btn-pagar {
  background-color: #ffc700;
  color: #000;
  padding: 20px;
  width: 50%;
  margin-top: 30%;
  border: none;
  cursor: pointer;
  font-family: Playfair Display;
  font-size: 19px;
  font-weight: 500;
}

.btn-atras {
  background-color: #555555;
  color: white;
  padding: 20px;
  border: none;
  cursor: pointer;
  font-family: Playfair Display;
  font-size: 19px;
  font-weight: 500;
}

.recuadro-form {
  text-align: center;
  width: 500px;
  height: 810px;
  background: url(rectangle-35.png), lightgray 50% / cover no-repeat;
  margin: auto auto 5% auto;
}

.recuadro-form h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #000;
  font-family: Playfair Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 52px;
}

input {
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 350px;
  height: 50px;
  margin-top: 45px;
}

input::placeholder {
  display: flex;
  padding: 5%;
  color: #5c5c5c;
  font-family: Playfair Display;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button-submit{
  background-color: #151515;
  color: white;
  max-width: 35%;
  border: none;
  cursor: pointer;
  font-family: Playfair Display;
  font-size: 19px;
  font-weight: 500;
}
.button-submit:hover{
  background-color: #005156;
}
.span-1 {
  margin-top: 5%;
  font-size: larger;
  font-weight: 500;
}

/* Estilos del FOOTER */
footer {
  background-color: #151515;
  color: white;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: sticky;
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer p {
  padding: 5px 10px 5px 10px;
}
footer a {
  padding: 5px 10px 5px 10px;
}